<h1>My Events</h1>

<% if @events.any? { |e| e.date < DateTime.current } %>
  <%= render "user_events", events: @events, event_type: "Attended Events", op: "<" %>
<% end %>

<% if @events.any? { |e| e.date > DateTime.current } %>
  <%= render "user_events", events: @events, event_type: "Upcoming Events", op: ">" %>
<% end %>
