<h1>Upcoming</h1>

<ol>
  <% @events.upcoming.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ol>

<h1>Past</h1>

<ol>
  <% @events.past.each do |event| %>
    <li><%= link_to event.name, event %></li>
  <% end %>
</ol>
